<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
    <ui:define name="content">
        <h:form prependId="false">
            <p:panel>
                <h:outputText value="#{messages.activation_success}" rendered="#{userActivationBean.valid}"/>
                <h:outputText value="#{messages.activation_fail}" rendered="#{!userActivationBean.valid}"/>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
</html>