<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
<ui:define name="content">
    <h:form id="form1">
        <p:messages id="messages" showDetail="false" autoUpdate="true" closable="false" />
    </h:form>

    <h:form prependId="false">
        <p:panel rendered="#{userChangePasswordBean.valid}">
            <h4><h:outputText value="#{messages.profile_page_password_change}" /></h4>
            <p:panelGrid columns="3">
                <h:outputText value="#{messages.registration_new_password}:" for="passwordEditInput" />
                <p:password value="#{userChangePasswordBean.new_password}" id="passwordEditInput" required="true" match="passwordRepeatEditInput"
                            label="#{messages.registration_new_password}" />
                <p:message for="passwordEditInput" display="icon" />

                <h:outputText value="#{messages.registration_new_password_repeat}:" for="passwordRepeatEditInput" />
                <p:password value="#{userChangePasswordBean.new_password_repeat}" id="passwordRepeatEditInput" required="true"
                            label="#{messages.registration_new_password_repeat}" />
                <p:message for="passwordRepeatEditInput" display="icon" />

                <f:facet name="footer">
                    <p:commandButton action="#{userChangePasswordBean.changePassword}" value="#{messages.change_password_submit}"/>
                </f:facet>
            </p:panelGrid>
        </p:panel>

        <p:panel rendered="#{!userChangePasswordBean.valid}">
            <h:outputText value="#{messages.url_not_valid}" />
        </p:panel>
    </h:form>
</ui:define>

</ui:composition>
</html>