<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">

<ui:define name="content">

  <f:view>
        <f:event type="preRenderView" listener="#{userBean.loadCurrentUser()}"/>
  </f:view>

  <h:form id="form1">
    <p:messages id="messages" showDetail="false" autoUpdate="true" closable="false" />
  </h:form>
  
    <p:panel>
      <h3><h:outputText value="#{messages.profile_page}" /></h3>
      
      <h4><h:outputText value="#{messages.profile_my_data}" /></h4>
        
      <h:form prependId="false">
      <p:panel id="userEditPanel">
          
            <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">
              <h:outputText value="#{messages.field_label_user_username}:" />
              <h:outputText value="#{userBean.user.username}" />
              <h:outputText value="" />

              <h:outputText value="#{messages.field_label_user_email}:" />
              <h:outputText value="#{userBean.user.email}" />
              <h:outputText value="" />
    
              <h:outputText value="#{messages.field_label_user_roles}:" />
              <p:outputPanel>
                <ui:repeat value="#{userBean.user.roles}" var="role">
                    <h:outputText value="#{role}" /><br/>
                </ui:repeat>
              </p:outputPanel>
              <h:outputText value="" />
              
              </h:panelGrid>
              
              <div>
                <p:commandButton value="#{messages.user_profile_submit}"
                    icon="ui-icon-disk" action="#{userBean.persist}"
                    update=":userEditPanel :growlForm:growl" />
                <p:commandButton action="#{userProfileBean.cancel}" value="#{messages.label_cancel}" immediate="true" />
              </div>

      </p:panel>
      </h:form>

      <h4><h:outputText value="#{messages.profile_page_password_change}" /></h4>
        
      <h:form prependId="false">
      <p:panel>
      <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">

        <h:outputText value="#{messages.user_profile_old_password}:" for="passwordOldInput" />
        <p:password value="#{userProfileBean.old_password}" id="passwordOldInput" required="true"
                      label="#{messages.user_profile_old_password}" />
        <p:message for="passwordOldInput" display="icon" />

        <h:outputText value="#{messages.user_profile_new_password}:" for="passwordEditInput" />
        <p:password value="#{userProfileBean.new_password}" id="passwordEditInput" required="true" match="passwordRepeatEditInput"
              label="#{messages.user_profile_new_password}" />
        <p:message for="passwordEditInput" display="icon" />
     
        <h:outputText value="#{messages.user_profile_new_password_repeat}:" for="passwordRepeatEditInput" />
        <p:password value="#{userProfileBean.new_password_repeat}" id="passwordRepeatEditInput" required="true"
              label="#{messages.user_profile_new_password_repeat}" />
        <p:message for="passwordRepeatEditInput" display="icon" />

      </h:panelGrid>
      
      <div>
        <p:commandButton action="#{userProfileBean.update}" value="#{messages.user_profile_submit}" icon="ui-icon-disk" />
        <p:commandButton action="#{userProfileBean.cancel}" value="#{messages.label_cancel}" immediate="true" />
      </div>
      
      </p:panel>
      </h:form>
      
    </p:panel>

</ui:define>
</ui:composition>
</html>