<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
      
    <p:outputPanel styleClass="ui-fluid" rendered="#{not itemBean.isPermitted(itemBean.item, 'item:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid rendered="#{itemBean.isPermitted(itemBean.item, 'item:read')}">
       
       <p:commandButton value="#{messages.dialog_item_create_product}" icon="ui-icon-plusthick" title="#{messages.label_create}"
                  actionListener="#{productBean.prepareNewProduct()}"
                  update=":createProductDialog :growlForm:growl" resetValues="true"
                  oncomplete="PF('createProductDialogWidget').show()" partialSubmit="true" process="@this"
                  rendered="#{itemBean.isPermitted('product:create') and itemBean.isPermitted(itemBean.item, 'item:update')}"
                  style="float:right;">
       </p:commandButton>
       
       <p:pickList id="itemProductsPickList" var="product" itemLabel="#{product.name}"
                   value="#{itemBean.products}" itemValue="#{product}"
                   showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                   disabled="#{not itemBean.isPermitted(itemBean.item, 'item:update')}">
         <o:converter converterId="omnifaces.ListConverter" list="#{itemBean.fullProductsList}" />
         <p:ajax event="transfer" listener="#{itemBean.onProductsPickListTransfer}" partialSubmit="true" process="@this" />
         <f:facet name="sourceCaption"><h:outputText value="#{messages.label_picklist_available}" /></f:facet>
         <f:facet name="targetCaption"><h:outputText value="#{messages.label_picklist_assigned}" /></f:facet>
       </p:pickList>
</h:panelGrid>
</html>