<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:dialog="http://java.sun.com/jsf/composite/dialog">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="itemDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="itemTable" value="#{itemBean.itemList}" var="item" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="itemTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_item}" icon="ui-icon-plusthick"
                      action="/pages/item/itemCreate?faces-redirect=true"
                      rendered="#{itemBean.isPermitted('item:create')}" style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="itemTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.field_label_item_date}" sortBy="#{item.date}" filterBy="#{item.date}">
            <f:facet name="filter">
                <p:inputText id="dateFilter"
                        onkeyup="if (event.keyCode == 13) {PF('itemTable').filter(); updateDateFilter(); return false;}" >
                    <p:remoteCommand name="updateDateFilter" update="itemTable:dateFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{item.date}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_item_product_plural}" styleClass="action-column" exportable="false">
            
            <p:commandButton icon="ui-icon-transfer-e-w"  title="#{messages.field_label_item_product_plural}" action="#{'/pages/item/itemProduct?faces-redirect=true&amp;id='.concat(item.id)}" />
            
          </p:column>
          
          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton action="#{'/pages/item/itemView?faces-redirect=true&amp;id='.concat(item.id)}"
                icon="ui-icon-zoomin"
                title="#{messages.label_view}" />
            
            <p:commandButton action="#{'/pages/item/itemEdit?faces-redirect=true&amp;id='.concat(item.id)}"
                icon="ui-icon-pencil"
                resetValues="true"
                rendered="#{itemBean.isPermitted(item, 'item:update')}"
                title="#{messages.label_edit}" />
                
            <p:commandButton icon="ui-icon-close" rendered="#{itemBean.isPermitted(item, 'item:delete')}"
                oncomplete="PF('deleteItemDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{item}"
                    target="#{itemBean.item}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteItemDialog" widgetVar="deleteItemDialogWidget"
        rendered="#{itemBean.isPermitted(itemBean.item, 'item:delete')}" header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{itemBean.delete}" update=":itemDataForm :growlForm:growl" oncomplete="PF('deleteItemDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteItemDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
  </ui:define>
</ui:composition>
</html>