<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">
  
    <f:metadata>
      <f:viewParam name="id" value="#{itemBean.item}" converter="#{genericEntityConverter}" />
      <f:viewAction action="#{itemBean.onProductsDialog(itemBean.item)}"/>
    </f:metadata>
    
    <p:outputPanel styleClass="ui-fluid" rendered="#{not itemBean.isPermitted(itemBean.item, 'item:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <p:outputPanel id="itemProductsPanel" rendered="#{itemBean.isPermitted(itemBean.item, 'item:read')}">
        <h:form id="itemProductsForm">
            <ui:include src="/pages/item/itemProductInclude.xhtml" />
            <div style="margin:10px">
                <p:commandButton value="#{messages.label_save}"
                    icon="ui-icon-disk"
                    actionListener="#{itemBean.onProductsSubmit}"
                    action="/pages/item/item?faces-redirect=true"
                    update=":growlForm:growl"
                    rendered="#{itemBean.isPermitted(itemBean.item, 'item:update')}"
                    partialSubmit="true" process="@this" />
                <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" action="/pages/item/item?faces-redirect=true" />
            </div>
        </h:form>
    </p:outputPanel>
    
    <p:dialog dynamic="true" id="createProductDialog"
        header="#{messages.dialog_item_create_product}" modal="true"
        widgetVar="createProductDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{productBean.reset}" />
        <p:outputPanel id="createProductPanel">
                <h:form id="createProductForm">
                    <ui:include src="/pages/product/productEditInclude.xhtml">
                        <ui:param name="hideItemsSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{itemBean.updateProduct(productBean.product)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{productBean.persist}"
                            update=":itemProductsPanel :createProductPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createProductDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createProductDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
  
</ui:composition>
</html>