<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
            
                <h:outputText value="#{messages.field_label_item_date}:" for="dateEditInput" />
                <p:calendar id="dateEditInput" navigator="true" value="#{itemBean.item.date}" label="#{messages.field_label_item_date}" />
                <p:message for="dateEditInput" display="icon" />

                <h:outputText value="#{messages.field_label_item_type}:" for="typeSelect"/>
                <p:selectManyCheckbox value="#{itemBean.item.type}" converter="omnifaces.GenericEnumConverter"
                        id="typeSelect" layout="responsive" columns="1">
                    <f:selectItems value="#{itemBean.typeSelectItems}" />
                    <f:attribute name="collectionType" value="java.util.HashSet" />
                </p:selectManyCheckbox>
                <p:message for="typeSelect" display="icon" />

            </p:panelGrid>

        </p:outputPanel>
</html>