<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not itemBean.isPermitted(itemBean.item, 'item:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{itemBean.isPermitted(itemBean.item, 'item:read')}">
        
        <h:outputText value="#{messages.field_label_item_date}:" />
        <h:outputText value="#{itemBean.item.date}" ><f:convertDateTime /></h:outputText>

        <h:outputText value="#{messages.field_label_item_type}:" />
        <p:outputPanel>
            <ui:repeat value="#{itemBean.item.type.toArray()}" var="type">
                <h:outputText value="#{itemBean.getLabelForType(type)}" /><br/>
            </ui:repeat>
        </p:outputPanel>

    </h:panelGrid>
</html>