<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <h:form>
  <p:menu>
    <p:submenu label="#{messages.menu_pages}">
      
      <p:menuitem value="#{messages.menu_products}" url="/pages/product/product.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_items}" url="/pages/item/item.xhtml" icon="icon-entity" ajax="false" async="false" />
      
      <p:menuitem value="#{messages.menu_attachements}" url="/pages/attachement/attachement.xhtml" icon="icon-entity" ajax="false" async="false" />
      
    </p:submenu>
    
    <p:submenu label="#{messages.menu_admin}" rendered="#{p:ifGranted('Administrator')}">
      <p:menuitem value="#{messages.menu_user_management}" url="/pages/admin/user.xhtml" icon="ui-icon-person" ajax="false" async="false"/>
    </p:submenu>
    
  </p:menu>
  </h:form>
</ui:composition>
</html>