<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<ui:composition>
  <h:form>
    <h:link outcome="/pages/main" style="float:left">
      <h:graphicImage name="images/logo.png" alt="logo" height="48px" style="margin-right:10px"/>
    </h:link>
    <span style="font-size:2em;color:#777777;height:48px;vertical-align:middle;display:table-cell;">
      <h:outputText value="#{messages.application_name}" />
    </span>
    <p:toolbar style="margin-top:5px">
      <f:facet name="left">
        <p:button outcome="/pages/main" value="#{messages.toolbar_home}" icon="ui-icon-home" />
      </f:facet>
      <f:facet name="right">
        <p:selectOneMenu value="#{localeBean.selectedLocale}" style="vertical-align:bottom;margin-right:10px">
          <p:ajax update="@all" />
          <f:selectItems value="#{localeBean.locales}" ></f:selectItems>
        </p:selectOneMenu>
        
        <p:button outcome="/login" value="#{messages.toolbar_login}" icon="ui-icon-key"
                  rendered="#{empty request.remoteUser}"/>
        <h:outputText value=" #{messages.toolbar_user}: #{request.remoteUser}" rendered="#{not empty request.remoteUser}"
                  style="margin-right:10px"/>
        <p:button outcome="/pages/user/profile" value="#{messages.toolbar_profile}" icon="ui-icon-person"
                           rendered="#{not empty request.remoteUser}" ajax="false"/>
        <p:commandButton action="#{loginBean.logout}" value="#{messages.toolbar_logout}" icon="ui-icon-key"
                      rendered="#{not empty request.remoteUser}" ajax="false"/>
        
      </f:facet>
    </p:toolbar>
  </h:form>
</ui:composition>
</html>