<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <p:outputPanel styleClass="ui-fluid" rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <h:form enctype="multipart/form-data" rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:update')}">
          <h:outputText value="#{messages.label_upload_files}" />
          <p:fileUpload immediate="true"
              fileUploadListener="#{attachementBean.handleAttachmentUpload}"
              update=":attachementAttachmentsPanel" style="overflow:auto;height:120px;width:620px" fileLimit="1" />
        </h:form>
        <h:form>
          <p:dataTable scrollable="true" scrollHeight="270" resizableColumns="true"
              rendered="#{not empty attachementBean.attachementAttachments}" style="width:620px"
              var="attachment" value="#{attachementBean.attachementAttachments}">
            <f:facet name="header"><h:outputText value="#{messages.attachments_uploaded}: " /></f:facet>
            <p:column headerText="#{messages.attachment_filename}" width="500">
                <p:commandButton ajax="false" icon="ui-icon-arrowthickstop-1-s">
                    <p:fileDownload value="#{attachementBean.getAttachmentStreamedContent(attachment)}" />
                </p:commandButton>
                <h:outputText value=" #{attachment.fileName}" />
            </p:column>
            <p:column width="40">
                <p:commandButton icon="ui-icon-close" title="#{messages.label_delete}" rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:update')}"
                    action="#{attachementBean.deleteAttachment(attachment)}" update="@form :growlForm:growl" />
            </p:column>
          </p:dataTable>
        </h:form>
    </p:outputPanel>

</html>