<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">
  
    <f:metadata>
      <f:viewParam name="id" value="#{attachementBean.attachement}" converter="#{genericEntityConverter}" />
      <f:viewAction action="#{attachementBean.onProductsDialog(attachementBean.attachement)}"/>
    </f:metadata>
    
    <p:outputPanel styleClass="ui-fluid" rendered="#{not attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <p:outputPanel id="attachementProductsPanel" rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <h:form id="attachementProductsForm">
            <ui:include src="/pages/attachement/attachementProductInclude.xhtml" />
            <div style="margin:10px">
                <p:commandButton value="#{messages.label_save}"
                    icon="ui-icon-disk"
                    actionListener="#{attachementBean.onProductsSubmit}"
                    action="/pages/attachement/attachement?faces-redirect=true"
                    update=":growlForm:growl"
                    rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:update')}"
                    partialSubmit="true" process="@this" />
                <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" action="/pages/attachement/attachement?faces-redirect=true" />
            </div>
        </h:form>
    </p:outputPanel>
    
    <p:dialog dynamic="true" id="createProductDialog"
        header="#{messages.dialog_attachement_create_product}" modal="true"
        widgetVar="createProductDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{productBean.reset}" />
        <p:outputPanel id="createProductPanel">
                <h:form id="createProductForm">
                    <ui:include src="/pages/product/productEditInclude.xhtml">
                        <ui:param name="hideAttachementSelectInput" value="true" />
                    </ui:include>
                    <div style="text-align: center; margin: 10px">
                        <p:commandButton
                            action="#{attachementBean.updateProduct(productBean.product)}"
                            value="#{messages.label_save}" icon="ui-icon-disk"
                            actionListener="#{productBean.persist}"
                            update=":attachementProductsPanel :createProductPanel :growlForm:growl"
                            oncomplete="if(!args.validationFailed) PF('createProductDialogWidget').hide()" />
                        <p:commandButton value="#{messages.label_close}"
                            icon="ui-icon-close"
                            onclick="PF('createProductDialogWidget').hide()"
                            type="button" />
                    </div>
                </h:form>
            </p:outputPanel>
    </p:dialog>
    
  </ui:define>
  
</ui:composition>
</html>