<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">
  
    <f:metadata>
      <f:viewParam name="id" value="#{attachementBean.attachement}" converter="#{genericEntityConverter}" />
    </f:metadata>
    
    <p:outputPanel styleClass="ui-fluid" rendered="#{not attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <p:outputPanel id="attachementAttachmentsPanel" rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <ui:include src="/pages/attachement/attachementAttachmentsInclude.xhtml" />
        <div style="margin:10px">
            <h:form>
                <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" action="/pages/attachement/attachement?faces-redirect=true"/>
            </h:form>
        </div>
    </p:outputPanel>

  </ui:define>
  
</ui:composition>
</html>