<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <p:outputPanel styleClass="ui-fluid" rendered="#{not attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <h:outputText value="#{messages.access_denied}" />
    </p:outputPanel>
    
    <p:panel header="#{messages.label_image}" style="max-width:400px" rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        <o:graphicImage value="#{attachementBean.uploadedImageContents}" dataURI="true"
            rendered="#{not empty attachementBean.uploadedImageContents}" width="200px"/>
    </p:panel>
    
    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:read')}">
        
        <h:outputText value="#{messages.field_label_attachement_content}:" />
        <h:outputText value="#{attachementBean.attachement.content}" />

        <h:outputText value="#{messages.audit_created}:" />
        <h:panelGroup>
            <h:outputText value="#{attachementBean.attachement.createdAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{attachementBean.attachement.createdBy}"/>
        </h:panelGroup>
        
        <h:outputText value="#{messages.audit_modified}:" />
        <h:panelGroup>
            <h:outputText value="#{attachementBean.attachement.modifiedAt}"><f:convertDateTime type="both" /></h:outputText>
            <h:outputText value=", #{attachementBean.attachement.modifiedBy}"/>
        </h:panelGroup>
        
    </h:panelGrid>
</html>