<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:dialog="http://java.sun.com/jsf/composite/dialog">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="attachementDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="attachementTable" value="#{attachementBean.attachementList}" var="attachement" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true"
                paginatorPosition="bottom" widgetVar="attachementTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_attachement}" icon="ui-icon-plusthick"
                      action="/pages/attachement/attachementCreate?faces-redirect=true"
                      rendered="#{attachementBean.isPermitted('attachement:create')}" style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="attachementTable" trigger="toggler" />
          </f:facet>
          
          <p:column headerText="#{messages.label_image}">
              <o:graphicImage value="#{attachement.image.content}" dataURI="true"
                  rendered="#{not empty attachement.image.content}" width="50px"/>
          </p:column>
          
          <p:column  headerText="#{messages.field_label_attachement_content}" sortBy="#{attachement.content}" filterBy="#{attachement.content}">
            <f:facet name="filter">
                <p:inputText id="contentFilter"
                        onkeypress="if (event.keyCode == 13) {PF('attachementTable').filter(); updateContentFilter(); return false; }" >
                    <p:remoteCommand name="updateContentFilter" update="attachementTable:contentFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{attachement.content}" />
          </p:column>

          <p:column headerText="#{messages.field_label_attachement_product_plural}" styleClass="action-column" exportable="false">
            
            <p:commandButton icon="ui-icon-transfer-e-w"  title="#{messages.field_label_attachement_product_plural}" action="#{'/pages/attachement/attachementProduct?faces-redirect=true&amp;id='.concat(attachement.id)}" />
            
          </p:column>
          
          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton action="#{'/pages/attachement/attachementView?faces-redirect=true&amp;id='.concat(attachement.id)}"
                icon="ui-icon-zoomin"
                title="#{messages.label_view}" />
            
            <p:commandButton action="#{'/pages/attachement/attachementEdit?faces-redirect=true&amp;id='.concat(attachement.id)}"
                icon="ui-icon-pencil"
                resetValues="true"
                rendered="#{attachementBean.isPermitted(attachement, 'attachement:update')}"
                title="#{messages.label_edit}" />
                
            <p:commandButton icon="ui-icon-copy" action="#{'/pages/attachement/attachementAttachments?faces-redirect=true&amp;id='.concat(attachement.id)}" title="#{messages.label_attachments}" />
            
            <p:commandButton icon="ui-icon-close" rendered="#{attachementBean.isPermitted(attachement, 'attachement:delete')}"
                oncomplete="PF('deleteAttachementDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{attachement}"
                    target="#{attachementBean.attachement}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
    </h:form>

    <p:confirmDialog id="deleteAttachementDialog" widgetVar="deleteAttachementDialogWidget"
        rendered="#{attachementBean.isPermitted(attachementBean.attachement, 'attachement:delete')}" header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{attachementBean.delete}" update=":attachementDataForm :growlForm:growl" oncomplete="PF('deleteAttachementDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteAttachementDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
  </ui:define>
</ui:composition>
</html>