<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panel id="attachementImage" header="#{messages.label_image}" style="max-width:400px">
                <o:graphicImage value="#{attachementBean.uploadedImageContents}" dataURI="true"
                    rendered="#{not empty attachementBean.uploadedImageContents}" width="200px" />
                <p:fileUpload mode="advanced" fileLimit="1"
                    fileUploadListener="#{attachementBean.handleImageUpload}" update="attachementImage :growlForm:growl"
                    cancelLabel="#{messages.upload_cancel}" uploadLabel="#{messages.upload_upload}" label="#{messages.upload_choose}"
                    multiple="false" style="overflow:auto;width:380px"/>
            </p:panel>
            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
                <h:outputText value="#{messages.field_label_attachement_content}:" for="contentEditInput" />
                <p:inputText value="#{attachementBean.attachement.content}" id="contentEditInput" 
                    label="#{messages.field_label_attachement_content}" />
                <p:message for="contentEditInput" display="icon" />
            </p:panelGrid>
        </p:outputPanel>
</html>