<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <h:panelGrid columns="3" styleClass="dialog" columnClasses="col1,col2,col3">

        <h:outputText value="#{messages.field_label_user_username}:" for="usernameEditInput" />
        <p:inputText value="#{userBean.user.username}" id="usernameEditInput"
            label="#{messages.field_label_user_username}" disabled="#{not request.isUserInRole('Administrator')}" />
        <p:message for="usernameEditInput" display="icon" />
        
        <h:outputText value="#{messages.field_label_user_email}:" for="emailEditInput" />
        <p:inputText value="#{userBean.user.email}" id="emailEditInput" match="emailRepeatEditInput" required="true"
            label="#{messages.field_label_user_email}" disabled="#{not request.isUserInRole('Administrator')}" />
        <p:message for="emailEditInput" display="icon" />
        
        <h:outputText value="#{messages.field_label_user_email_repeat}:" for="emailRepeatEditInput" 
            rendered="#{request.isUserInRole('Administrator')}" />
        <p:inputText value="#{userBean.user.email}" id="emailRepeatEditInput" required="true"
            label="#{messages.field_label_user_email_repeat}"
            rendered="#{request.isUserInRole('Administrator')}"/>
        <p:message for="emailRepeatEditInput" display="icon"
            rendered="#{request.isUserInRole('Administrator')}" />
        
        <h:outputText value="#{messages.field_label_user_roles}:" for="userRoles"/>
        <p:selectManyCheckbox value="#{userBean.user.roles}" converter="omnifaces.GenericEnumConverter" id="userRolesSelection"
                layout="grid" columns="1" collectionType="java.util.ArrayList">
            <f:selectItems value="#{userBean.rolesSelectItems}" />
        </p:selectManyCheckbox>
        <p:message for="userRolesSelection" display="icon" />
        
        <h:outputText value="#{messages.field_label_user_status}:" for="selectUserStatusInput" />
        <p:selectOneMenu value="#{userBean.user.status}" converter="omnifaces.GenericEnumConverter"  id="selectUserStatusInput" required="true">
            <f:selectItems value="#{userBean.statusSelectItems}" />
        </p:selectOneMenu>
        <p:message for="selectUserStatusInput" display="icon" />

    </h:panelGrid>
</html>