<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:dialog="http://java.sun.com/jsf/composite/dialog">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">

    <h:form prependId="false" id="productDataForm" onkeypress="if (event.keyCode == 13) {return false; }">

        <p:dataTable id="productTable" value="#{productBean.lazyModel}" var="product" resizableColumns="true" paginator="true"
                paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                rowsPerPageTemplate="5,10,25,50" rows="10" draggableColumns="true" lazy="true"
                paginatorPosition="bottom" widgetVar="productTable" emptyMessage="#{messages.label_no_records_found}"
                reflow="true">
        
          <f:facet name="header" >

              <p:commandButton value="#{messages.create_new_product}" icon="ui-icon-plusthick"
                      action="/pages/product/productCreate?faces-redirect=true"
                      style="float:left" />
              
              <p:commandButton id="toggler" type="button" value="#{messages.table_select_columns}" icon="ui-icon-calculator" />
              <p:columnToggler datasource="productTable" trigger="toggler" />
          </f:facet>
          
          <p:column  headerText="#{messages.field_label_product_name}" sortBy="#{product.name}" filterBy="#{product.name}">
            <f:facet name="filter">
                <p:inputText id="nameFilter"
                        onkeypress="if (event.keyCode == 13) {PF('productTable').filter(); updateNameFilter(); return false; }" >
                    <p:remoteCommand name="updateNameFilter" update="productTable:nameFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{product.name}" />
          </p:column>

          <p:column headerText="#{messages.field_label_product_price}" sortBy="#{product.price}" filterBy="#{product.price}">
            <f:facet name="filter">
                <p:inputText id="priceFilter"
                        onkeypress="if (event.keyCode == 13) {PF('productTable').filter(); updatePriceFilter(); return false; }" >
                    <f:convertNumber />
                    <p:remoteCommand name="updatePriceFilter" update="productTable:priceFilter" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{product.price}"><f:convertNumber /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_product_stock}" sortBy="#{product.stock}" filterBy="#{product.stock}">
            <f:facet name="filter">
                <p:inputText id="stockFilter"
                        onkeypress="if (event.keyCode == 13) {PF('productTable').filter(); updateStockFilter(); return false; }" >
                    <p:remoteCommand name="updateStockFilter" update="productTable:stockFilter" />
                    <f:convertNumber integerOnly="true" />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{product.stock}" ><f:convertNumber /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_product_launchDate}" sortBy="#{product.launchDate}" filterBy="#{product.launchDate}">
            <f:facet name="filter">
                <p:inputText id="launchDateFilter"
                        onkeyup="if (event.keyCode == 13) {PF('productTable').filter(); updateLaunchDateFilter(); return false;}" >
                    <p:remoteCommand name="updateLaunchDateFilter" update="productTable:launchDateFilter" />
                    <f:convertDateTime />
                </p:inputText>
            </f:facet>
            <h:outputText value="#{product.launchDate}"><f:convertDateTime /></h:outputText>
          </p:column>

          <p:column headerText="#{messages.field_label_product_discontinued}" sortBy="#{product.discontinued}" filterBy="#{product.discontinued}" exportable="false">
            <f:facet name="filter">
                 <p:selectOneMenu converter="javax.faces.Boolean"
                        onchange="PF('productTable').filter(); return false;" style="width:50%">
                        <f:selectItem itemLabel="&nbsp;" itemValue="" />
                        <f:selectItem itemLabel="#{messages.field_label_product_discontinued_true}" itemValue="true" />
                        <f:selectItem itemLabel="#{messages.field_label_product_discontinued_false}" itemValue="false" />
                </p:selectOneMenu>
            </f:facet>
            <h:panelGroup styleClass="ui-icon ui-icon-check" rendered="#{product.discontinued}"/>
          </p:column>

          <p:column headerText="#{messages.field_label_product_items}" sortBy="#{product.items}" filterBy="#{product.items}">
            <f:facet name="filter">
            <p:selectOneMenu  id="itemsFilter"
                            style="width:145px;"
                            onchange="PF('productTable').filter(); return false;">
                <f:selectItem noSelectionOption="true" itemLabel="" />
                <f:selectItems itemLabel="#{item.id}"
                            value="#{productBean.itemss}" 
                            var="item" 
                            itemValue="#{item}" />
                <o:converter converterId="omnifaces.SelectItemsConverter" list="#{productBean.itemss}" />
            </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{product.items.id}" />
          </p:column>

          <p:column styleClass="action-column" headerText="#{messages.table_actions_column}" width="115" exportable="false">
            
            <p:commandButton action="#{'/pages/product/productView?faces-redirect=true&amp;id='.concat(product.id)}"
                icon="ui-icon-zoomin"
                title="#{messages.label_view}" />
            
            <p:commandButton action="#{'/pages/product/productEdit?faces-redirect=true&amp;id='.concat(product.id)}"
                icon="ui-icon-pencil"
                resetValues="true"
                title="#{messages.label_edit}" />
                
            <p:commandButton icon="ui-icon-close" 
                oncomplete="PF('deleteProductDialogWidget').show()"
                title="#{messages.label_delete}" >
                <f:setPropertyActionListener value="#{product}"
                    target="#{productBean.product}" />
            </p:commandButton>
    
          </p:column>
          
        </p:dataTable>
        
        <h:panelGrid columns="2">
            <p:panel header="#{messages.export_all_data}">

                <h:commandLink>
                    <h:graphicImage  name="images/excel.png" alt="Excel|" />
                    <p:dataExporter type="xls" target="productTable" fileName="Products"/>
                </h:commandLink>

                <h:commandLink>
                    <h:graphicImage name="images/pdf.png" alt="PDF|" />
                    <p:dataExporter type="pdf" target="productTable" fileName="Products"/>
                </h:commandLink>
                
                <h:commandLink>
                    <h:graphicImage name="images/csv.png" alt="CSV" />
                    <p:dataExporter type="csv" target="productTable" fileName="Products" />
                </h:commandLink>

            </p:panel>
            
            <p:panel header="#{messages.export_page_data}">
                <h:commandLink>
                    <h:graphicImage name="images/excel.png" alt="Excel|" />
                    <p:dataExporter type="xls" target="productTable" fileName="Products" pageOnly="true"/>
                </h:commandLink>

                <h:commandLink>
                    <h:graphicImage name="images/pdf.png" alt="PDF|" />
                    <p:dataExporter type="pdf" target="productTable" fileName="Products" pageOnly="true"/>
                </h:commandLink>
                
                <h:commandLink>
                    <h:graphicImage name="images/csv.png" alt="CSV" />
                    <p:dataExporter type="csv" target="productTable" fileName="Products" pageOnly="true"/>
                </h:commandLink>
                
            </p:panel>
        </h:panelGrid>
        
    </h:form>

    <p:confirmDialog id="deleteProductDialog" widgetVar="deleteProductDialogWidget"
        header="#{messages.label_confirm_deletion}"
        severity="alarm">
        <f:facet name="message"><h:outputText value="#{messages.label_delete_record}" escape="false"/></f:facet>
        <p:outputPanel>
          <h:form>
            <div style="text-align: center; margin:10px">
              <p:commandButton value="#{messages.label_yes}" action="#{productBean.delete}" update=":productDataForm :growlForm:growl" oncomplete="PF('deleteProductDialogWidget').hide()" />
              <p:commandButton value="#{messages.label_no}" onclick="PF('deleteProductDialogWidget').hide()" type="button" />
            </div>
          </h:form>
        </p:outputPanel>
    </p:confirmDialog>
    
  </ui:define>
</ui:composition>
</html>