<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

    <h:panelGrid columns="2" styleClass="dialog" columnClasses="col1,col2" >
        
        <h:outputText value="#{messages.field_label_product_name}:" />
        <h:outputText value="#{productBean.product.name}" />

        <h:outputText value="#{messages.field_label_product_price}:" />
        <h:outputText value="#{productBean.product.price}" ><f:convertNumber /></h:outputText>

        <h:outputText value="#{messages.field_label_product_stock}:" />
        <h:outputText value="#{productBean.product.stock}" />

        <h:outputText value="#{messages.field_label_product_launchDate}:" />
        <h:outputText value="#{productBean.product.launchDate}" ><f:convertDateTime /></h:outputText>

        <h:outputText value="#{messages.field_label_product_discontinued}:" for="discontinuedInput" />
        <p:selectBooleanCheckbox disabled="true" value="#{productBean.product.discontinued}" id="discontinuedInput" />

        <h:outputText value="#{messages.field_label_product_items}:" />
        <h:outputText value="#{productBean.product.items.id}" />

    </h:panelGrid>
</html>