<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">
  
    <f:metadata>
      <f:viewParam name="id" value="#{productBean.product}" converter="#{genericEntityConverter}" />
    </f:metadata>
    
    <p:outputPanel id="productEditPanel">
        <h:form id="editProductForm">
            <ui:include src="/pages/product/productEditInclude.xhtml"/>
            <div style="margin:10px">
                <p:commandButton value="#{messages.label_save}" icon="ui-icon-disk" actionListener="#{productBean.persist}"
                        action="/pages/product/product?faces-redirect=true" update=":productEditPanel :growlForm:growl" />
                <p:commandButton value="#{messages.label_close}" icon="ui-icon-close"
                        action="/pages/product/product?faces-redirect=true" immediate="true" />
            </div>
        </h:form>
    </p:outputPanel>
    
    <p:dialog dynamic="true" id="createItemsFromEditDialog"
        rendered="#{productBean.isPermitted('item:create')}"
        header="#{messages.dialog_product_create_items}" modal="true"
        widgetVar="createItemsFromEditDialogWidget" maximizable="true">
        <p:ajax event="close" listener="#{itemBean.reset}" />
        <p:outputPanel id="createItemsFromEditPanel">
            <h:form id="createItemsFromEditForm">
                <ui:include src="/pages/item/itemEditInclude.xhtml">
                    <ui:param name="hideProductSelectInput" value="true" />
                </ui:include>
                <div style="text-align: center; margin: 10px">
                    <p:commandButton
                        action="#{productBean.updateItems(itemBean.item)}"
                        value="#{messages.label_save}" icon="ui-icon-disk"
                        actionListener="#{itemBean.persist}"
                        update=":editProductForm:itemsSelectInput :createItemsFromEditPanel :growlForm:growl"
                        oncomplete="if(!args.validationFailed) PF('createItemsFromEditDialogWidget').hide()" />
                    <p:commandButton value="#{messages.label_close}"
                        icon="ui-icon-close"
                        onclick="PF('createItemsFromEditDialogWidget').hide()"
                        type="button" />
                </div>
            </h:form>
        </p:outputPanel>
    </p:dialog>
    
  </ui:define>
  
</ui:composition>
</html>