<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
<ui:composition template="/templates/layout.xhtml">
  <ui:define name="content">
  
    <f:metadata>
      <f:viewParam name="id" value="#{productBean.product}" converter="#{genericEntityConverter}" />
    </f:metadata>
    
    <p:outputPanel id="productViewPanel" >
        <h:form id="viewProductForm">
            <ui:include src="/pages/product/productViewInclude.xhtml"/>
            <div style="margin:10px">
                <p:commandButton value="#{messages.label_close}" icon="ui-icon-close" action="/pages/product/product?faces-redirect=true" immediate="true"/>
            </div>
        </h:form>
    </p:outputPanel>
  
  </ui:define>
  
</ui:composition>
</html>