<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">

        <p:outputPanel styleClass="ui-fluid">

            <p:panelGrid columns="3" columnClasses="ui-grid-col-4,ui-grid-col-6,ui-grid-col-2" layout="grid" style="max-width:400px">
            
                <h:outputText value="#{messages.field_label_product_name}:" for="nameEditInput" />
                <p:inputText value="#{productBean.product.name}" id="nameEditInput" 
                    label="#{messages.field_label_product_name}" />
                <p:message for="nameEditInput" display="icon" />

                <h:outputText value="#{messages.field_label_product_price}:" for="priceEditInput" />
                <p:inputText value="#{productBean.product.price}" id="priceEditInput" label="#{messages.field_label_product_price}" >
                    <f:convertNumber />
                </p:inputText>
                <p:message for="priceEditInput" display="icon" />

                <h:outputText value="#{messages.field_label_product_stock}:" for="stockEditInput" />
                <p:inputText value="#{productBean.product.stock}"  id="stockEditInput" 
                    label="#{messages.field_label_product_stock}" />
                <p:message for="stockEditInput" display="icon" />

                <h:outputText value="#{messages.field_label_product_launchDate}:" for="launchDateEditInput" />
                <p:calendar id="launchDateEditInput" navigator="true" value="#{productBean.product.launchDate}" label="#{messages.field_label_product_launchDate}" />
                <p:message for="launchDateEditInput" display="icon" />

                <h:outputText value="#{messages.field_label_product_discontinued}:" for="discontinuedInput" />
                <p:selectBooleanCheckbox value="#{productBean.product.discontinued}" id="discontinuedInput" label="#{messages.field_label_product_discontinued}" />
                <p:message for="discontinuedInput" display="icon" />

                <h:outputText value="#{messages.field_label_product_items}:" for="itemsSelectInput" rendered="#{not hideItemsSelectInput}"/>
                <h:panelGroup rendered="#{not hideItemsSelectInput}">
                    <p:selectOneMenu value="#{productBean.product.items}"
                                    id="itemsSelectInput">
                        <f:selectItem noSelectionOption="true" itemLabel="" />
                        <f:selectItems value="#{productBean.itemss}" 
                                    var="item" 
                                    itemLabel="#{item.id}"
                                    itemValue="#{item}" />
                        <o:converter converterId="omnifaces.SelectItemsConverter" list="#{productBean.itemss}" />
                    </p:selectOneMenu>
                </h:panelGroup>
                <h:panelGroup rendered="#{not hideItemsSelectInput}">
                
                    <p:commandButton icon="ui-icon-plusthick" title="#{messages.label_create}"
                              action="#{itemBean.prepareNewItem()}"
                              update=":createItemsFromEditDialog"
                              resetValues="true"
                              oncomplete="PF('createItemsFromEditDialogWidget').show()"
                              rendered="#{applicationBean.componentExists('createItemsFromEditDialog') and productBean.isPermitted('item:create')}"
                              style="vertical-align:top;" partialSubmit="true" process="@this">
                    </p:commandButton>
                    
                    <p:message for="itemsSelectInput" display="icon" rendered="#{not hideItemsSelectInput}"/>
                </h:panelGroup>
                
            </p:panelGrid>

        </p:outputPanel>
</html>